AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript application/json

<FilesMatch "\.(jpg|otf|ico)$">
	Header set Cache-Control "max-age=29030400, public"
</FilesMatch>
<FilesMatch "\.(css|js)$">
        Header set Cache-Control "max-age=5184000, public"
</FilesMatch>
<FilesMatch "index.html">
	Header set Cache-Control "max-age=2678400, public"
</FilesMatch>
<FilesMatch "\.json$">
	Header set Cache-Control "max-age=3600, public"
</FilesMatch>

<FilesMatch "Makefile">
	deny from all
</FilesMatch>

RewriteEngine On
RewriteBase /
RewriteRule ^redirect\.php$ - [L]
RewriteCond %{QUERY_STRING} _escaped_fragment_=
RewriteRule . staticrender.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /redirect.php [L]
